<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Coconut{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
    <!-- ICONOS -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <!-- COMPONENTE NAVBAR -->
    {% include 'components/navbar.html' %}

    <!-- CONTENIDO PRINCIPAL -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- COMPONENTE FOOTER -->
    {% include 'components/footer.html' %}

    <!-- Scripts externos -->
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
    
    <!-- Bloque para scripts adicionales por página -->
    {% block scripts %}{% endblock %}
</body>
</html>