{% extends "base.html" %}
    
{% block title %}Cámaras{% endblock %}

{% block content %}

<link rel="stylesheet"
href="{{ url_for('static', filename='css/camara.css') }}">

<section class="productos-section">

    <h1 class="titulo">Cámaras</h1>

    <!-- FILTROS -->
    <div class="filter-container">

    <button class="filter-btn" data-brand="all">
        Todas
    </button>

    <button class="filter-btn" data-brand="canon">
        Canon
    </button>

    <button class="filter-btn" data-brand="sony">
        Sony
    </button>

    <button class="filter-btn" data-brand="samsung">
        Samsung
    </button>

    <button class="filter-btn" data-brand="nikon">
        Nikon
    </button>

    <button class="filter-btn" data-brand="kodak">
        Kodak
    </button>

    <button class="filter-btn" data-brand="casio">
        Casio
    </button>

    <button class="filter-btn" data-brand="olympus">
        Olympus
    </button>

    <button class="filter-btn" data-brand="panasonic">
        Panasonic
    </button>

    <button class="filter-btn" data-brand="pixpro">
        PixPro
    </button>

    </div>

    <div class="cards-container">

        {% include 'components/product_card.html' %}

    </div>

</section>

<script src="{{ url_for('static', filename='js/camara.js') }}"></script>

{% endblock %}